{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}bashy{% endblock title %}</title>


  <link rel="stylesheet" media="all" type="text/css" href="{% static "css/styles.css" %}">
  {% if debug %}
    <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

</head>
<body>
  <header>
    <ul>
      <li><a href="{% url "home" %}">Hem</a></li>
      <li><a href="{% url "top" %}">Top 50-100</a></li>
    </ul>
  </header>
  <section id="body">
    {% block body_title %}{% endblock body_title %}
    {% block body %}
      {% for quote in quote_list %}
        {% include "_quote.html" %}
      {% endfor %}
    {% endblock body %}
  </section>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="{% static "js/scripts.js" %}"></script>
</body>
</html>
