{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}bashy{% endblock title %}</title>


  <link rel="stylesheet" media="all" type="text/css" href="{% static "css/styles.css" %}">
  {% if debug %}
    <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

</head>
<body>
  <header>
    <ul>
      <li>Hem</li>
      <li>Top 100</li>
    </ul>
  </header>
  <section id="body">
    {% block body %}{% endblock body %}
  </section>
</body>
</html>
